[core]
  whitespace = cr-at-eol
  pager = LESS=-qFR less
  quotepath = false
  editor = vim
  excludesfile = ~/.gitignore
[color]
  ui = auto
[alias]
  s  = status --short --branch
  st = status
  br = branch
  co = checkout
  ci = commit
  d  = diff
  dc = diff --cached
  f  = fetch
  fa = fetch --all
[include]
  path = ~/.gitconfig.local
